<!DOCTYPE html>
<html>
  <head>
     <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css'>
    <title>Shoe Stores and Brands</title>
  </head>
  <body>
    <div class="container">
      <%= yield %>
    </div>
    <a href="/">Home Page</a>
  </body>
</html>
